<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Задание #1</title>
    <link ref="stylesheet" href="../static/task.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2 class="numTask">Задание #1</h2>
            <div class="task-arrows">
                <a href="#" title="Предыдущее задание", id="previous_task">&#8592;</a>
                <a href="#" title="Следующее задание", id="next_task">&#8594;</a>
            </div>
            <div>Текст задания</div>
            <text class="task">проверка</text>
        </div>
        <div class="main">
            <form action="#" class="sql">
                <div class="block">
                    <label for="sql">SQL-запрос</label>
                    <textarea name="sql" placeholder=""></textarea>
                    <div class="table"></div>
                    <div class="buttons">
                        <button class="buttonTry" id="buttonTry">Выполнить</button>
                    </div>
                </div>
            </form>

            <form action="#" class="table">
                <div class="block">
                    <label>Таблица вывода SQL</label>
                    <div class="output"></div>
                    <div class="buttons">
                        <button class="buttonSend" id="buttonSend">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="../static/task.js"></script>
</body>
</html>
